/*Rides Page-------------------------------------------*/

h2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #CC7830;
}

.rides-feature {
    margin: 30px
}

.rides-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.rides-col-4 {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    
}

.rides-col-4-first {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 23%;
}

.rides-box {
    color: #6b2525;
    margin-left: 10px;
    margin-right: auto;
    overflow: hidden;
}

.rides-banner{
    height: 300px;
    background-color: rgb(0, 0, 0);
    background: url(../img/shutterstock_271954364.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    /* overflow: hidden; */
    padding: 4% 0 0 0;
}


.rides-feature-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;   
}

.rides-feature-title {
    width: 100%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    font-family: sans-serif;
    color: #6b2525;
}

.rides-feature-col-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.rides-feature-box {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: left;
    overflow: hidden;
}

.rides-feature-box img {
    height: 330px;
}

p {
    font-size: 16px;
    font-family: sans-serif;
    color: #000000;
    line-height: 1.5;
}

.rides {
    padding-left:100px;
    padding-right:100px;
    font-size: 16px;
    font-family: sans-serif;
    color: #000000;
    line-height: 3.5;
}

li{
    box-shadow: 0.25rem 0.25rem 0.6rem #0000000D, 0 0.5rem 1.125rem #4b00000D;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
}


img{
  border-radius: 350px 0 0 40px;
    padding-top:10%;
    height: 400px;
   
}


/* .rides-button-see-more {
    background-color: #F5A500;
    padding: 15px 30px;
    border-radius: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: sans-serif;
    border: 0;
    cursor: pointer;
} */


